$color-white: #fff;
$color-black: #111111;
$color-light-grey: #ebebeb;
$color-charcoal-grey : #323648;
$charcoal-grey-two : #373d40;
$color-battleship-grey: #6d6f7b;
$color-slate-grey: #5b5e6d;


$color-dark-green: #3cb187;
$color-darker-green: #2D5C38;
$color-ice: #e8fff7;